<!DOCTYPE html>
<html xml:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Giftlist details</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<div layout:fragment="content" class="container my-2">
    <h2 th:text="${giftlist.title}"></h2>
    <h4>Deadline: <span th:text="${giftlist.dueDate}"> </span></h4>
    <h4>Budget: <span th:text="${giftlist.totalPrice}"> </span></h4>
    <p>Number of Gifts: <span th:text="${#lists.size(giftlist.gifts)}"> </span></p>
    <br>
    <button><a href="http://localhost:8081/gifts/new-gift">Create New gift</a></button>
    <p>&nbsp;</p>
    <table class="table table-striped table-responsive-md">
        <tr>
            <th>Title</th>
            <th>Category</th>
            <th>Price</th>
            <th>Link</th>
            <th>Article Number</th>
            <th>Date of Gift Creation</th>
        </tr>
        <tr th:each="gift: ${giftlist.gifts}">
            <td th:text="${gift.title}"></td>
            <td th:text="${gift.category}"></td>
            <td th:text="${gift.price}"></td>
            <td th:text="${gift.link}"></td>
            <td th:text="${gift.ean}"></td>
            <td th:text="${gift.dateOfCreation}"></td>
        </tr>
    </table>

    <p>&nbsp;</p>

    <a th:href="@{/giftlists}">back</a>
</div>
</body>
</html>